# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.zad2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\git\DistributedSystems\zad2\.idea\.idea.zad2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
